<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>586481434780-snpo7megdk278n649dqqi8s33u1dpde7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.586481434780-snpo7megdk278n649dqqi8s33u1dpde7</string>
	<key>API_KEY</key>
	<string>AIzaSyBRc1dWfma1SAhrcoCkFIHrfFiB7duEZFQ</string>
	<key>GCM_SENDER_ID</key>
	<string>586481434780</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>ru.excitesakh.appstolichnyy</string>
	<key>PROJECT_ID</key>
	<string>stolichniy-175800</string>
	<key>STORAGE_BUCKET</key>
	<string>stolichniy-175800.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:586481434780:ios:8acc469c02db16fd12ad59</string>
	<key>DATABASE_URL</key>
	<string>https://stolichniy-175800.firebaseio.com</string>
</dict>
</plist>